@page "/"

<h1>Hello, world!</h1>

<table class="table">
    <caption>
        Favorite and Least Favorite Things
    </caption>
    <tr>
        <th></th>
        <th></th>
        <th>Bob</th>
        <th>Alice</th>
    </tr>
    <tr>
        <th rowspan="4">Favorite</th>
        <th>Color</th>
        <td>Blue</td>
        <td>Purple</td>
    </tr>
    <tr>
        <th rowspan="4">Favorite</th>
        <th>Flavor2</th>
        <td>Banana</td>
        <td>Chocolate</td>
    </tr>
    <tr>
        <th>Flavor3</th>
        <td>Banana</td>
        <td>Chocolate</td>
    </tr>
    <tr>
        <th>Flavor4</th>
        <td>Banana</td>
        <td>Chocolate</td>
    </tr>

    <tr>
        <th rowspan="2">Least Favorite</th>
        <th>Color</th>
        <td>Yellow</td>
        <td>Pink</td>
    </tr>
    <tr>
        <th>Flavor</th>
        <td>Mint</td>
        <td>Walnut</td>
    </tr>
</table>

