@page "/"

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Gość</th>
            <th scope="col">Dziecko</th>
            <th scope="col">Nowożeniec</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td rowspan="3">Pokój 1</td>
            <td>a1</td>
            <td>a2</td>
            <td>a3</td>
        </tr>
        <tr>
            <td>b1</td>
            <td>b2</td>
            <td>b3</td>
        </tr>
        <tr>
            <td>c1</td>
            <td>c2</td>
            <td>c3</td>
        </tr>

        <tr>
            <td rowspan="2">Pokój 2</td>
            <td>a1</td>
            <td>a2</td>
            <td>a3</td>
        </tr>
        <tr>
            <td>b1</td>
            <td>b2</td>
            <td>b3</td>
        </tr>
        <tr>
            <td>c1</td>
            <td>c2</td>
            <td>c3</td>
        </tr>
    </tbody>
    
</table>