
<hr />
<div style="text-align: center;">
    <h2 style="margin-bottom: 20px;">fgCode Fabian Grochla</h2>
    <h3><img src="icons/email_icon.png"> <a href="mailto:fabian.grochla@gmail.com" target="_blank">fabian.grochla@gmail.com</a></h3>
</div>
<hr />

