<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Hotel</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="createReservation" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Utwórz rezerwację
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="reservations" Match="NavLinkMatch.All">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Rezerwacje
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="calendar" Match="NavLinkMatch.All">
                <span class="oi oi-calendar" aria-hidden="true"></span> Kalendarz
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customers" Match="NavLinkMatch.All">
                <span class="oi oi-people" aria-hidden="true"></span> Klienci
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="areasRooms" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Obszary i pokoje
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="priceRules" Match="NavLinkMatch.All">
                <span class="oi oi-dollar" aria-hidden="true"></span> Reguły Cenowe
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
