
@if (true)
{
    <div style="width: 480px; margin-bottom: 40px;">
        <RadzenTemplateForm Data="_searchRoomDto" Submit="(async (SearchRoomDto args) => await SearchRooms(args))">
            <div class="row">
                <div class="col-4">
                    <p>Data zameldowania:</p>
                </div>

                <div class="col-8">
                    <RadzenDatePicker @bind-Value="_searchRoomDto.CheckIn" TValue="DateTime" />
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <p>Data wymeldowania:</p>
                </div>

                <div class="col-8">
                    <RadzenDatePicker @bind-Value="_searchRoomDto.CheckOut" TValue="DateTime" />
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <p>Ilość osób:</p>
                </div>

                <div class="col-8">
                    <RadzenNumeric @bind-Value="_searchRoomDto.PeopleAmount" Min="1" TValue="int" />
                </div>
            </div>

            <div class="row" style="text-align: center; margin-top: 10px;">
                <div class="col">
                    <RadzenButton Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Text="Znajdź pokoje" ButtonType="ButtonType.Submit" />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

    <RadzenSteps>
        <Steps>
            <RadzenStepsItem Text="Wybierz pokoje">
                <RoomsSelectionComponent Rooms="_rooms" Reservation="_reservation" />
            </RadzenStepsItem>

            <RadzenStepsItem Text="Rozmieść gości">
                <GuestOrderComponent Reservation="_reservation" />
            </RadzenStepsItem>

            <RadzenStepsItem Text="Podsumowanie">
                <ReservationSummaryComponent />
            </RadzenStepsItem>
        </Steps>
    </RadzenSteps>
}