@if (_priceCalculator != null)
{
    <div class="row" style="width: 940px;">
        <div class="col-6">
            <FindRoomsComponent OnFindedRooms="OnFindedRooms" />
        </div>

        <div class="col-6">
            @if (_reservation != null)
            {
                <ReservationSummaryComponent Reservation="_reservation" PeopleAmount="_findedAmount"
                                             PriceCalculator="_priceCalculator" />
                <div style="width: 410px; text-align: center;">
                    <RadzenButton Text="Utwórz rezerwację" ButtonStyle="ButtonStyle.Success" Click="CreateReservation" />
                </div>
            }
        </div>
    </div>
}

@if (_reservation != null)
{
    <RadzenCard Style="width: fit-content">
        <RadzenSteps>
            <Steps>
                <RadzenStepsItem Text="Wybierz pokoje">
                    <RoomsSelectionComponent Rooms="_findedRooms" Reservation="_reservation" OnEvent="OnEvent" />
                </RadzenStepsItem>

                <RadzenStepsItem Text="Rozmieść gości" Disabled="(!_reservation.ReservationRooms.Any())">
                    <GuestOrderComponent Reservation="_reservation" PriceCalculator="_priceCalculator" OnEvent="OnEvent" />
                </RadzenStepsItem>
            </Steps>
        </RadzenSteps>
    </RadzenCard>
}

<Base @ref="_base" Component="this" />
@code{
    private Base _base;

    public async Task RefreshState()
    {
        await InvokeAsync(() => StateHasChanged());
    }
}