@if (_searchRoomDto != null)
{
    <div class="row" style="width: 940px;">
        <div class="col-6">
            <RadzenCard Style="width: 430px;">
                <RadzenTemplateForm Data="_searchRoomDto" Submit="(async (SearchRoomDto args) => await SearchRooms(args))">
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-5">
                            <p>Data zameldowania:</p>
                        </div>

                        <div class="col-7">
                            <RadzenDatePicker @bind-Value="_searchRoomDto.CheckIn" TValue="DateTime" />
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-5">
                            <p>Data wymeldowania:</p>
                        </div>

                        <div class="col-7">
                            <RadzenDatePicker @bind-Value="_searchRoomDto.CheckOut" TValue="DateTime" />
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-5">
                            <p>Ilość osób:</p>
                        </div>

                        <div class="col-7">
                            <RadzenNumeric @bind-Value="_searchRoomDto.BookingAmount" Min="1" TValue="int" />
                        </div>
                    </div>

                    <div class="row" style="text-align: right; margin-top: 20px;">
                        <div class="col">
                            <RadzenButton Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Text="Znajdź pokoje" ButtonType="ButtonType.Submit" />
                        </div>
                    </div>
                </RadzenTemplateForm>
            </RadzenCard>
            <div style="width: 430px; margin-bottom: 20px; float: left">
                @if (_isRoomSearching)
                {
                    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                }
            </div>
        </div>


        <div class="col-6">
            @if (_reservation != null)
            {
                <ReservationSummaryComponent Reservation="_reservation" PeopleAmount="_searchRoomDto.BookingAmount"
                                             PriceCalculator="_priceCalculator" />
                <div style="width: 410px; text-align: center;">
                    <RadzenButton Text="Utwórz rezerwację" ButtonStyle="ButtonStyle.Success" Click="CreateReservation" />
                </div>
            }
        </div>
    </div>
}

@if (_reservation != null)
{
    <RadzenCard Style="width: fit-content">
        <RadzenSteps>
            <Steps>
                <RadzenStepsItem Text="Wybierz pokoje">
                    <RoomsSelectionComponent Rooms="_rooms" Reservation="_reservation" OnEvent="OnEvent" />
                </RadzenStepsItem>

                <RadzenStepsItem Text="Rozmieść gości" Disabled="(!_reservation.ReservationRooms.Any())">
                    <GuestOrderComponent Reservation="_reservation" PriceCalculator="_priceCalculator" OnEvent="OnEvent" />
                </RadzenStepsItem>
            </Steps>
        </RadzenSteps>
    </RadzenCard>
}

<Base @ref="_base" Component="this" />
@code{
    private Base _base;

    public async Task RefreshState()
    {
        await InvokeAsync(() => StateHasChanged());
    }
}