@inherits Base;
@inject Window window

@if (_reservationFactors != null)
{
    <RadzenCard Style="width: 430px;">
        <RadzenButton Click="ShowCustomerSelection" />

        <RadzenTemplateForm Data="_reservationFactors" Submit="(async (ReservationFactors args) => await SearchRooms(args))">
            <div class="row" style="margin-bottom: 5px;">
                <div class="col-5">
                    <p>Data zameldowania:</p>
                </div>

                <div class="col-7">
                    <RadzenDatePicker @bind-Value="_reservationFactors.CheckIn" TValue="DateTime" DateFormat="d" Change="DataChanged" />
                </div>
            </div>

            <div class="row" style="margin-bottom: 5px;">
                <div class="col-5">
                    <p>Data wymeldowania:</p>
                </div>

                <div class="col-7">
                    <RadzenDatePicker @bind-Value="_reservationFactors.CheckOut" TValue="DateTime" DateFormat="d" Change="DataChanged" />
                </div>
            </div>

            <div class="row" style="margin-bottom: 5px;">
                <div class="col-5">
                    <p>Ilość osób:</p>
                </div>

                <div class="col-7">
                    <RadzenNumeric @bind-Value="_reservationFactors.BookingAmount" Min="1" TValue="int" Change="DataChanged" />
                </div>
            </div>

            <div class="row" style="text-align: right; margin-top: 20px;">
                <div class="col">
                    <RadzenButton Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Text="Znajdź pokoje" ButtonType="ButtonType.Submit" />
                </div>
            </div>
        </RadzenTemplateForm>
    </RadzenCard>
    <div style="width: 430px; margin-bottom: 20px; float: left">
        @if (_isRoomSearching)
        {
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
        }
    </div>
}

@code {
    private async Task ShowCustomerSelection()
    {
        await window.Show(new WindowConfiguration 
        {
            Title = "Wybierz klienta",
            Content = @<CustomerSelectionComponent />,
            DialogOptions = new DialogOptions 
            {
                Width = "585px;"
            }
        });
    }
}